*{
    margin: 0;
    padding: 0;
}

body{
    font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
     background-color: #F4F2EC;
}
#container{
     background: url(../imagens/fundo.png);
     height: 150px;
     position: relative;  
}

.topo h1{
    text-transform: uppercase;
    text-indent: -9999px;
    background: url(../imagens/logo.png);
    width: 248px;
    height: 21px;
}

.topo{
    margin: auto;
    width: 85%;
    height: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.menu{
    display: flex;
    gap: 30px;
    
}

.menu a{
    text-decoration: none;
    font-size: 1em;
    color: #916313;
}

.menu a:hover{
    color: #227116;
    text-decoration: underline;
    
}

.section1{
    display: flex;
    justify-content: space-between;
    width: 85%;
    margin: auto;
}

#principal{
    width: 85%;
    margin: auto;
}

.video-mapa{
    display: flex;
    width: 62%;
    justify-content: space-between;
    flex-direction: row;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
    
}

.video-mapa h3{
    font-size:1em;
    margin-bottom: 10px;
    color: #22714D;
    text-transform: uppercase;
}



.section2{
    width: 320px;
}

.section2 ul li a{
    font-size: 1em;
    color: #D38C41;
    text-decoration: none;
    
}

.section2 ul li a:hover{
    color: #227116;
}

.section2 p{
    font-size: 1em;
    line-height: 1.3;
}

a{
    text-decoration: none;
    color: #D38C41;
}

a:hover{
    color: #22714D;
}

.menu2{
    margin-left: 40px;
}

aside{
    width: 27.5%;
    float: right;
    margin-top: -472px;
    margin-right: 95px;
    background: #EBE7DD;
}

section.visita{
    background: #CDC8B1;
    padding: 20px;
    margin-top: 20px;
}

.visita h3{
    text-transform: uppercase;
    color: #86521A;
    font-size: 1em;
    margin-bottom: 10px;
}

label{
    font-size: 1em;
}

input#data{
    width: 8em;
    font-size: 1em;
}

input#pessoas{
    width: 3em;
    font-size: 1em;
}

input#botao{
    background: #9B9271;
    margin: auto;
    margin-top: 10px;
    border: none;
    padding: 10px;
    width: 300px;
   color: white;
}

.foto{
    padding: 20px;
 
}
.foto1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px 15px;
    justify-content: center;
}
.fundo{
    width: 126px;
    height: 133px;
    background: url(../imagens/fundo-foto.png) no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

footer{
    clear: both;
     display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
}

nav.menu-rodape{
    margin-top: 25px;
    margin-bottom: 15px;
    font-size: 1em;
    display: flex;
    gap: 20px;
}

footer span{
    font-size: 1em;
    margin-bottom: 25px;
}